.Body{
  background-color: gold;
}
.mainBody{
  background-color: ghostwhite;
}
.main {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5%;
}

.selection {
  outline: none;
  width: 400px;
  border: 1px solid red;
  padding: 10px;

}

h1 {
  text-align: center;
  letter-spacing: 1.5;
  color: aqua;
}

h3 {
  text-align: center;
}
